# PyCharm IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll

# caffe generated
*.caffemodel
*.solverstate
*.prototxt

# intermediates
*.tar.gz
*.tar

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
data
output
*.egg-info/
.installed.cfg
*.egg
*.out

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# vim
.swp

# philly
*/bash_history*
*.deb
